language = "python3"
run = "while [ true ]; do npm install nodemon; sleep 1; npx nodemon -L -x 'python3 -m poetry remove snow-pyrepl; python3 -m poetry add snow-pyrepl==0.51; killall python; killall python3; killall prybar-python3; sleep 1; python main.py || sleep 1; echo $(date +'%Y/%d/%m_%H:%M:%S') >> restart.log' --watch restart.log; continue; done"
